pydantic
fastapi
numpy
pandas
scikit-learn-intelex 
uvicorn
scipy      
torch
torchvision
lime
#torch>=1.0.0+cpu @ https://download.pytorch.org/whl/cpu/stable.html
#torchvision>=0.1.0+cpu @ https://download.pytorch.org/whl/cpu/stable.html
#torchaudio>=0.1.0 @ https://download.pytorch.org/whl/cpu/stable.html
intel_extension_for_pytorch