pydantic
fastapi
numpy
pandas
scikit-learn-intelex 
uvicorn
scipy      
#torch
#torchvision
lime
--index-url https://download.pytorch.org/whl/cpu/stable.html
torch>=1.0.0+cpu
torchvision>=0.1.0+cpu
torchaudio>=0.1.0
intel_extension_for_pytorch
plotly
